{
  "extends": ["next", "babel", "prettier", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "import/no-unresolved": "error",
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "endOfLine": "auto",
        "printWidth": 150
      }
    ]
  }
}
